body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-right: 1rem;
  font-size: 30px;
}

nav {
  display: flex; /* Make it a flexbox container */
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  padding: 0.1rem 1rem; /* Add some padding */
  background-color: rgb(218, 218, 218);
  color: black;
  border-radius: 15px;
}
nav ul {
  list-style: none;
  display: flex;
  margin-left: 1rem;
}
nav ul li {
  padding-left: 1rem; /* Add space within each button */
  padding-right: 1rem; /* Add space within each button */
}

nav ul li button {
  background-color: yellow; /* Green */
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Add some rounded corners */
  transition: 0.3s ease-in-out; /* Add a smooth hover effect */
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.568); /* Increase shadow on hover */
}

/* Media query for smaller screens (tablets and phones) */
@media (max-width: 768px) {
  nav {
    /* Stack elements vertically on small screens */
    flex-direction: column;
  }

  /* Reduce padding on small screens */
  nav > div,
  nav h3 {
    padding: 0.5rem;
  }
}
